[Unit]
Description=Hashicorp Vault service
#Requires=consul.service
#After=network-online.target consul.service
After=network-online.target

[Service]
User={{vault_user}}
Group={{vault_group}}
LimitMEMLOCK=infinity
PrivateDevices=yes
PrivateTmp=yes
ProtectSystem=full
ProtectHome=read-only
SecureBits=keep-caps
Capabilities=CAP_IPC_LOCK+ep
CapabilityBoundingSet=CAP_SYSLOG CAP_IPC_LOCK
NoNewPrivileges=yes
ExecStart=/home/{{vault_user}}/vault/vault server -config=/home/{{vault_user}}/vault/config.hcl
KillSignal=SIGINT
TimeoutStopSec=30s
Restart=on-failure
StartLimitInterval=60s
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
